<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="https://fonts.cdnfonts.com/css/amarillo" rel="stylesheet">
  <title>Escola de Dança Denuize</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/https://media.discordapp.net/attachments/1161419155615006761/1207868011269066803/apple-touch-icon.png?ex=65e135be&is=65cec0be&hm=9fd97896cfdb4c17d11a2d5715079dbc291bbac6545b15b7330e972351190083&=&format=webp&quality=lossless&width=644&height=644" rel="icon">
  <link href="https://media.discordapp.net/attachments/1161419155615006761/1207868010899972196/logo.png?ex=65e135be&is=65cec0be&hm=f53bf94a63e92422cce9635bd967ece247b65fff91d166a06711914364eda8e1&=&format=webp&quality=lossless&width=644&height=644" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto" class="logo"><a href="index.html">Denuize Teixeira</a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="index.html">Inicio</a></li>
          <li><a class="active" href="about.html">Sobre Nós</a></li>
          <li><a href="courses.html">Cursos</a></li>
          <li><a href="trainers.html">Professores</a></li>
          <li><a href="events.html">Eventos</a></li>
          <li><a href="contact.html">Contato</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

      <a href="login.html" class="get-started-btn">Area do Aluno</a>
      

    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Quem Somos</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit
          quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="/assets/img/about.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Paixão e Excelência em Ballet</h3>
            <p class="fst-italic">
              Na nossa escola de ballet, acreditamos na união da tradição e inovação para inspirar e formar dançarinos
              de todas as idades. Com uma equipe de instrutores experientes e apaixonados, oferecemos uma formação
              artística completa.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Aulas personalizadas para atender diferentes níveis e idades.</li>
              <li><i class="bi bi-check-circle"></i> Ambiente acolhedor e motivador, focado no crescimento individual.
              </li>
              <li><i class="bi bi-check-circle"></i> Compromisso com a excelência artística e o desenvolvimento físico e
                emocional dos alunos.</li>
            </ul>
            <p>
              Junte-se a nós e embarque em uma jornada de autoexpressão, disciplina e beleza através da arte do ballet.
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="12320" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Alunos</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="649" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Cursos Finalizados</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1742" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Eventos</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1597" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Progessores Formados</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Depoimentos</h2>
          <p>O que estão dizendo</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Maria Silva</h3>
                  <h4>Aluna do Ballet Juvenil</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Participar das aulas de ballet na Escola de Dança Denuize Teixeira foi uma experiência
                    transformadora. Aprendi muito mais do que dança; aprendi sobre disciplina, arte e autoexpressão.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
            <!-- Testimonial 2 -->
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Camila Fernandes</h3>
                  <h4>Aluna do Ballet Adulto</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Iniciar aulas de ballet na vida adulta foi um desafio incrível. A Escola de Dança Denuize Teixeira
                    me ofereceu apoio e um ambiente acolhedor onde pude crescer e me apaixonar pela dança.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <!-- Testimonial 3 -->
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/aluna-3.jpg" class="testimonial-img" alt="">
                  <h3>Beatriz Almeida</h3>
                  <h4>Mãe de Aluna do Ballet Infantil</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Ver minha filha evoluir no Ballet Infantil é maravilhoso. A equipe pedagógica é excepcional, criando
                    um ambiente de aprendizado que respeita o ritmo e a individualidade de cada criança.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <!-- Testimonial 4 -->
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/assets/img/testimonials/aluna-4.jpg" class="testimonial-img" alt="">
                  <h3>Laura Souza</h3>
                  <h4>Aluna do Ballet Juvenil</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    O Ballet Juvenil mudou minha vida. A qualidade do ensino e a atenção dos professores me ajudaram a
                    desenvolver não só como bailarina, mas também como pessoa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <!-- Testimonial 5 -->
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Isabela Gomes</h3>
                  <h4>Aluna do Ballet Baby</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Minha experiência no Ballet Baby foi incrível. Aprendi a amar a dança desde pequena e desenvolvi
                    habilidades que levarei para toda a vida.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <!-- Testimonial 6 -->
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Sofia Rodrigues</h3>
                  <h4>Aluna do Ballet Adulto</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    A Escola de Dança Denuize Teixeira me proporcionou uma jornada incrível no mundo do ballet. As aulas
                    são desafiadoras, mas extremamente gratificantes e adaptadas para todas as idades.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- Testimonial 7 -->
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Juliana Menezes</h3>
                  <h4>Aluna de Ballet Contemporâneo</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    O Ballet Contemporâneo abriu novos horizontes para mim. A liberdade de expressão e a técnica que
                    aprendi aqui são incomparáveis.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <!-- Testimonial 8 -->
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Renata Barros</h3>
                  <h4>Aluna do Ballet Clássico</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    O rigor e a beleza do Ballet Clássico nesta escola são inspiradores. A cada aula, sinto-me mais
                    conectada à arte da dança.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <!-- Testimonial 9 -->
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Mariana Lima</h3>
                  <h4>Aluna do Ballet para Iniciantes</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Comecei sem nenhuma experiência e me senti acolhida desde o primeiro dia. O progresso que fiz é
                    extraordinário!
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <!-- Testimonial 10 -->
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Larissa Gonçalves</h3>
                  <h4>Aluna do Workshop de Dança Moderna</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    O workshop de Dança Moderna foi uma experiência única. Aprendi muito e me senti desafiada e motivada
                    a cada passo.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <!-- Testimonial 11 -->
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Fernanda Castro</h3>
                  <h4>Aluna do Ballet Juvenil</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    O Ballet Juvenil é incrível! Os professores são apaixonados e dedicados, e a atmosfera é sempre
                    positiva e encorajadora.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <!-- Testimonial 12 -->
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Carolina Soares</h3>
                  <h4>Aluna do Ballet Baby</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    As aulas de Ballet Baby são mágicas! A cada aula, minha filha aprende algo novo e se diverte muito.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <!-- Testimonial 13 -->
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Roberta Dias</h3>
                  <h4>Aluna do Ballet Clássico Avançado</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    O nível de técnica e profissionalismo nas aulas avançadas é algo que sempre admirei. Estou
                    constantemente sendo desafiada e crescendo.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <!-- Testimonial 14 -->
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Patrícia Oliveira</h3>
                  <h4>Aluna de Dança Contemporânea</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    A dança contemporânea me ajudou a encontrar uma nova maneira de expressar emoções. Cada aula é uma
                    descoberta sobre mim mesma e sobre a dança.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <!-- Testimonial 15 -->
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Thaís Ribeiro</h3>
                  <h4>Aluna do Ballet Adulto</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    O Ballet Adulto na Escola de Dança Denuize Teixeira é uma experiência única. É um espaço onde posso
                    relaxar, aprender e me conectar com a dança.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <!-- Adicione mais depoimentos conforme necessário -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3 class="logo2">Denuize Teixeira</h3>
            <p>
              Rua das Ortalicis, 20 <br>
              Residencial Jd. América,<br>
              Canaã dos Carajás - PA, Brasil <br>
              68537-000<br>
              <strong>WhatsApp:</strong> +55 94 99163 6997<br>
              <strong>Email:</strong> denuizet@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links Úteis</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre Nós</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cursos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Termos de Uso</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Política de Privacidade</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nossos Serviços</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Ballet</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Ballet Baby</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Ballet Infantil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Ballet Juvenil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Ballet Adulto</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Inscreva-se!</h4>
            <p>Fique por dentro de nossas novidades e promoções</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Inscreva-se">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Denuize Teixeira</span></strong>. Todos os Direitos Reservados
        </div>
        <div class="credits">
          Criado por <a href="https://danilomorais.netlify.app/">PyTech Solutions</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>


</body>

</html>