<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="https://fonts.cdnfonts.com/css/amarillo" rel="stylesheet">
  <title>Escola de Dança Denuize</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/https://media.discordapp.net/attachments/1161419155615006761/1207868011269066803/apple-touch-icon.png?ex=65e135be&is=65cec0be&hm=9fd97896cfdb4c17d11a2d5715079dbc291bbac6545b15b7330e972351190083&=&format=webp&quality=lossless&width=644&height=644" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto" class="logo"><a href="index.html">Denuize Teixeira</a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="index.html">Inicio</a></li>
          <li><a href="about.html">Sobre Nós</a></li>
          <li><a href="courses.html">Cursos</a></li>
          <li><a href="trainers.html">Professores</a></li>
          <li><a href="events.html">Eventos</a></li>
          <li><a href="contact.html">Contato</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="login.html" class="get-started-btn">Area do Aluno</a>


    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Detalhes do Curso Ballet Baby</h2>
        <p>Descubra a magia da dança para os pequenos com nosso curso Ballet Baby, ideal para o desenvolvimento inicial
          das crianças.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Course Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8">
            <img src="/https://media.discordapp.net/attachments/1161419155615006761/1207867996757037147/course-2.png?ex=65e135bb&is=65cec0bb&hm=22f3543be101d475814e51b160da72c77595e50492b385c0a0d0584207ed7c3e&=&format=webp&quality=lossless&width=644&height=644" class="img-fluid" alt="Ballet Baby">
          </div>
          <div class="col-lg-4">
            <!-- Course Information -->
            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Professora</h5>
              <p>Denuize Teixeira</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Taxa do Curso</h5>
              <p>R$100/mês</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Vagas Disponíveis</h5>
              <p>10</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Segundas e Quartas</h5>
              <p>09h às 10h e 18 às 19h</p>
            </div>
            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Terças e Quintas</h5>
              <p>17h às 18h</p>
            </div>
            <h3>Ballet Baby - Primeiros Passos na Dança</h3>
            <p>
              Este curso é projetado para introduzir os mais jovens ao mundo do ballet de uma forma divertida e
              estimulante. Através de jogos e atividades lúdicas, as crianças começam a desenvolver sua coordenação
              motora, ritmo e expressão corporal, ao mesmo tempo que se divertem dançando.
            </p>
            <p>
              As aulas são conduzidas por nossa experiente professora Denuize Teixeira, que possui uma abordagem
              carinhosa e paciente com as crianças, garantindo uma experiência de aprendizado positiva e enriquecedora
              para os pequenos bailarinos.
            </p>
            <a href="matricula.html" class="get-started-btn">Faça sua pré-matrícula aqui!</a>
          </div>
        </div>

      </div>
    </section><!-- End Course Details Section -->

    <!-- ======= Cource Details Tabs Section ======= -->
    <section id="cource-details-tabs" class="cource-details-tabs">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Objetivos do Curso</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Estrutura das Aulas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Benefícios</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Ballet Baby: Primeiros Passos na Dança</h3>
                    <p class="fst-italic">Descubra o mundo encantador do Ballet Baby...</p>
                    <p>Este curso é projetado para introduzir crianças pequenas ao ballet, estimulando a coordenação motora, criatividade e expressão artística. Através de atividades lúdicas e música, as crianças aprendem os movimentos básicos do ballet de maneira divertida e acolhedora.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Uma Jornada Lúdica</h3>
                    <p class="fst-italic">Cada aula é uma nova aventura...</p>
                    <p>As aulas são estruturadas para serem interativas e divertidas, utilizando jogos, histórias e música para ensinar os fundamentos do ballet. As crianças aprendem a dançar enquanto brincam, desenvolvendo habilidades motoras, ritmo e coordenação.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Benefícios do Ballet Baby</h3>
                    <p class="fst-italic">Mais do que dança, uma ferramenta de desenvolvimento...</p>
                    <p>O Ballet Baby oferece numerosos benefícios para as crianças, incluindo a melhora na coordenação motora, força muscular, flexibilidade, além de estimular a criatividade, a disciplina e a socialização com outras crianças.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Cource Details Tabs Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3 class="logo2">Denuize Teixeira</h3>
            <p>
              Rua das Ortalicis, 20 <br>
              Residencial Jd. América,<br>
              Canaã dos Carajás - PA, Brasil <br>
              68537-000<br>
              <strong>WhatsApp:</strong> +55 94 99163 6997<br>
              <strong>Email:</strong> denuizet@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links Úteis</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre Nós</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cursos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Termos de Uso</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Política de Privacidade</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nossos Serviços</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Ballet</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Ballet Baby</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Ballet Infantil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Ballet Juvenil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Ballet Adulto</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Inscreva-se!</h4>
            <p>Fique por dentro de nossas novidades e promoções</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Inscreva-se">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Denuize Teixeira</span></strong>. Todos os Direitos Reservados
        </div>
        <div class="credits">
          Criado por <a href="https://danilomorais.netlify.app/">PyTech Solutions</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>


</body>

</html>